body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%; /* Całkowita wysokość okna przeglądarki */
    overflow-x: hidden; /* Wyłączenie przewijania w poziomie */
  }
.Toolbar {
    width: 100% ;
    height: 70px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:  white;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    z-index: 1000; /* priorytet wyswietlania*/
}

.main-content { /* Przesunięcie zawartości poniżej toolbara */

    background-size: cover; /* Dopasowanie obrazu */

    height:100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex-direction: row;

    padding-top: 70px;
}
 
.left-part{

    width: 30%;
    height: 100%;
}

.center-part{

    width:40%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.for-article{
    display: flex;
    width: 80%;
    flex-direction: row;
}

.center-part p {
    margin-top: 0;
    position: static;
}
.right-part{

    width: 30%;
    height: 100%;

}
.toolbar_button{
    display: inline-flex;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.toolbar_button:hover {
    background-color: rgba(74, 74, 74, 0.1);
    color: #000;
}
.Toolbar_container_for_buttons{
    height: 70px; 
    width:100%;
    background-color: inherit;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center ;
}

.Left-toolbar{
    justify-content: flex-start;

}

.Right-toolbar{
    justify-content:flex-end;

}

.HamburgerButton {
    display: none;
}

.icon_toolbar{
    width: auto;
    height: auto;
}
.DropdownMenu {
    display: none;
}
@media (max-width: 768px) {
    .Dropdown {
        display: none;
    }

    .HamburgerButton {
        display: block; /* Pokaż przycisk hamburgera */
        background: none;
        border: none;
        font-size: 2rem;
        color: black;
        cursor: pointer;
    }

    .DropdownMenu {
        position: absolute;
        top: 70px; /* Dopasuj do wysokości toolbara */
        left: 0;
        right: 0;
        background-color: white;
        border-top: 1px solid black;
        z-index: 999;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .DropdownMenu.show {
        display: block; /* Wyświetl menu, gdy aktywne */
    }

    .DropdownMenu a {
        display: block;
        padding: 1em;
        text-align: center;
        border-bottom: 1px solid #f1f1f1;
        text-decoration: none;
        color: black;
    }

    .DropdownMenu a:hover {
        background-color: #8b8a8a;
        color: white;
    }
    .toolbar_button{
        display: none;
    }
}