body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%; /* Całkowita wysokość okna przeglądarki */
    overflow-x: hidden; /* Wyłączenie przewijania w poziomie */
  }
.Toolbar {
    width: 100% ;
    height: 70px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:inherit;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    z-index: 1000; /* priorytet wyswietlania*/
}

.main-content { /* Przesunięcie zawartości poniżej toolbara */
   
    background: url('../images/bench.webp') no-repeat center center;
    background-size: cover; /* Dopasowanie obrazu */

    height:100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Kontekst dla pseudo-elementu */
    overflow: hidden;
    flex-direction: row;
}
 
.left-part{
    background: url('../images/gym.jpg') no-repeat center left;
    background-size: cover; /* Dopasowanie obrazu */
    width: 30vw;
    filter: blur(1px); /* Rozmycie tła */
    height: calc(100vh - 80px);
}

.center-part{

    padding: 10vh 0;
    width:40vw;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.right-part{
    background: url('../images/gym.jpg') no-repeat center right;
    background-size: cover; /* Dopasowanie obrazu */
    width: 30vw;
    filter: blur(1px); /* Rozmycie tła */
    height: calc(100vh - 80px);

}
  /* Przyciski na toolbarze */
.Dropdown {
    position: relative;
    display: inline-block;
}

/* Przycisk dropdown */
.DropdownButton {
    background-color:inherit;
    color: rgb(0, 0, 0) ;
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
    border:none;
}

/* Elementy rozwijanego menu */
.DropdownContent {
    display: none; /* Domyślnie ukryte */
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
    overflow: hidden;
}

/* Linki w rozwijanym menu */
.DropdownContent a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.2s;
}

/* Efekt hover na linkach */
.DropdownContent a:hover {
    background-color: #f1f1f1;
}

/* Wyświetlanie menu po najechaniu */
.Dropdown:hover .DropdownContent {
    display: block;
}

/* Opcjonalnie: estetyczny efekt przycisku po najechaniu */
.DropdownButton:hover {
    background-color: #8b8a8a;
}

.Toolbar_container_for_buttons{
    height: 70px; 
    width:100%;
    background-color: inherit;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center ;
}

.Right-toolbar{
    justify-content: flex-start;

}

.Left-toolbar{
    justify-content:flex-end;

}
.Toolbar-buttons{
    background-color:inherit;
    color: rgb(0, 0, 0) ;
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
    border:1px black solid;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.2s;
}
.Toolbar-buttons:hover {
    background-color: #8b8a8a;
    color: white;
}
.Toolbar .LoginButton {
    margin-left: auto; /* Przesuwa przycisk na prawą stronę */
}


@media (max-width: 400px) {
    .Dropdown {
        display: none;
    }

}

