.Confirm-button {
    margin: 30px 0;
    background-image: linear-gradient(90deg, #0162c8, #55e7fc);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: relative;
    overflow: hidden;
    color: white;
    border-radius: 20px;
    border:none;
    width: 100%;
}


.Toolbar-button{
    margin: 0;
    left: 10px;
    padding: 16px 15px;
    align-items: flex-start;
    justify-content: flex-start;
}
