
/* uzywany */
.Container_for_many_window{
    padding: 1% 0%;
    margin: 85px 5% 0%;
    width: 90%;
    height:auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
    box-sizing: border-box;

}
.Container_for_window{
    flex: 1 1 calc(25% - 1em); /* 4 obiekty w rzędzie, uwzględniając przerwy */
    max-width: calc(25% - 1em); /* Maksymalna szerokość jednego obiektu */
    height: auto; 
    background-color: blueviolet;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
}

.Container_for_window img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
}



/* 3 obiekty w rzędzie */
@media (max-width: 1200px) {
    .Container_for_window {
        flex: 1 1 calc(33.33% - 1em); /* 3 obiekty w rzędzie */
        max-width: calc(33.33% - 1em);
    }
}

/* 2 obiekty w rzędzie */
@media (max-width: 800px) {
    .Container_for_window {
        flex: 1 1 calc(50% - 1em); /* 2 obiekty w rzędzie */
        max-width: calc(50% - 1em);
    }
}

/* 1 obiekt w rzędzie */
@media (max-width: 500px) {
    .Container_for_window {
        flex: 1 1 100%; /* 1 obiekt w rzędzie */
        max-width: 100%;

    }
}