.LogoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.Logo-toolbar{
  width:auto; /* Szerokość logo */
  height: 60px; /* Zachowanie proporcji */
  padding-left: 30px;
  padding-right: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.Logo-big{
  height: auto; 
  width: 70%;
}




